

{% load static %}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Add student</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" href="{% static '/css/add_student.css' %}">


</head>
<body class="form-v10">
	<div class="page-content">
		<div class="form-v10-content">
			<form class="form-detail" action="#" method="POST" id="myform">
				{% csrf_token %}
				<div class="form-left">
					<h2>General Infomation</h2>
					<div class="form-row"> 
                            {{form.Student_name}}
					</div>
					<div class="form-row"> 
                            {{form.Class}}
					</div>
					<div class="form-row"> 
                            {{form.School_name}}
					</div>
					<div class="form-row"> 
                            {{form.Father_name}}	
					</div>
					<div class="form-row"> 
                            {{form.Mother_name}}	
					</div>
					<div class="form-row"> 
                            {{form.Gender}}	
					</div>
					<div class="form-row"> 
						{{form.DOB}}	
				    </div>
					
				</div>
				<div class="form-right">
					<h2>Contact Details</h2>
					<div class="form-row"> 
						{{form.Father_Contact_no}}	
				</div>
				<div class="form-row"> 
						{{form.Mother_Contact_no}}	
				</div>
					<div class="form-row"> 
						{{form.Address}}	
				    </div>
					<div class="form-row"> 
						{{form.Father_occupation}}	
				    </div>
					<div class="form-row"> 
						{{form.Mother_occupation}}	
				    </div>
					
					<div class="form-row">
						{{form.Email}}
					</div>
					
					{{form.errors}}
					<div class="text-center">
					<button type="submit"  class="btn btn-danger">Add Student</button>
				    </div>	
					

				</div>
			</form>
		</div>
	</div>
</body>
</html>

