{% extends 'website/navbar.html' %}
{% block title %} Electronics{% endblock %}

{% block body %} 


  
  <div class="container my-4">
    <div class="card-group">
        <div class="col-md-4">
          <img class="card-img-top" src="/static/images/electronics.png" alt="Card image cap">
          <div class="card-body">
            
          </div>
        </div>
        
        <div class="col-md-8">
          
          <div class="card-body">
            <h1 class="card-title"><strong>Electronics </strong></h1>
            <p class="card-text">The term "Electronics" refers to the study of the flow of electrons in electrical circuits. In Electronics, we learn how an electron behaves under various conditions of external fields, a technique called electron mechanics. 
                Electronics can also be defined as the branch of engineering concerned with the study and application of electronic devices.The device that controls the flow of electrons is called an electronic device. The main building block of an electronic circuit is an electronic device.</p>
            
          </div>
        </div>
      </div>
  </div>
  
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div class="tab-pane active fade show" id="tab1">
                    <div class="row text-center">
                        <div class="col-md-2">
                            
                        </div>
                        <div class="col-md-4">
                            <div class="pricing-table pricing-table-highlighted">
                                <div class="pricing-table-header grd1">
                                    <h2>Electronics</h2>
                                    <h3>Basic</h3>
                                </div>
                                <div class="pricing-table-space"></div>
                                <div class="pricing-table-features">
                                    <p><i class="fa fa-graduation-cap"></i> <strong>24</strong> Sessions</p>
                                    <p><i class="fa fa-calendar-o"></i> <strong>3 Months</strong> Duration</p>
                                    <p><i class="fa fa-database"></i> <strong>20</strong> Projects</p>
                                    <p><i class="fa fa-link"></i> <strong>1 year</strong> Validity</p>
                                    <p><i class="fa fa-life-ring"></i> <strong>1 Hour</strong> Class Duration</p>
                                </div>
                                <div class="pricing-table-sign-up">
                                    <a href="v" class="hover-btn-new orange"><span>Book Demo</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pricing-table pricing-table-highlighted">
                                <div class="pricing-table-header grd1">
                                    <h2>Electronics</h2>
                                    <h3>Advance</h3>
                                </div>
                                <div class="pricing-table-space"></div>
                                <div class="pricing-table-features">
                                    <p><i class="fa fa-graduation-cap"></i> <strong>24</strong> Sessions</p>
                                    <p><i class="fa fa-calendar-o"></i> <strong>3 Months</strong> Duration</p>
                                    <p><i class="fa fa-database"></i> <strong>20</strong> Projects</p>
                                    <p><i class="fa fa-link"></i> <strong>1 year</strong> Validity</p>
                                    <p><i class="fa fa-clock-o"></i> <strong>1 Hour</strong> Class Duration</p>
                                </div>
                                <div class="pricing-table-sign-up">
                                    <a href="{% url 'bookdemo' %}" class="hover-btn-new orange"><span>Book Demo</span></a>
                                </div>
                            </div>
                        </div>
                        
                        

                        
                    </div><!-- end row -->
                </div><!-- end pane -->
            </div><!-- end content -->
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end container -->
</div><!-- end section -->

</div>
   

{% endblock %}