{% extends 'website/navbar.html' %}
{% block title %} Gallery{% endblock %}


{% load static %}
}
      
{% block body %} 
<div class="col-md-12">
    <div class="row">
      {% for i in img %}
        <div class="col-md-4">
            <div class="card my-2">
                <img class="image-thumbail" src="/{{i.project_image}}" alt="Card image cap">

                <div class="card-text text-center">
                    <h4>{{i.student_name}}</h4>
                </div>
                <div class="card-text text-center">
                    <h4>{{i.project_name}}</h4>
                </div>
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>
  
{% endblock %}