{% load static %}

<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>{% block title %} {% endblock %}</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/website/bootstrap.min.css' %}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/website/main.css' %}">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static 'css/website/versions.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/website/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/website/custom.css' %}">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Modernizer for Portfolio -->
    <script src="/static/js/modernizer.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    

</head>
<body class="host_version"> 

	

    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	
	
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="index.html">
					<img src="/static/images/logo.png" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Go to admin pannel</a></li>
						<li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Courses </a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="{% url 'duplo' %}">Duplo </a>
								<a class="dropdown-item" href="{% url 'wedo' %}">WeDo </a>
                                <a class="dropdown-item" href="{% url 'nxt' %}">NXT </a>
								<a class="dropdown-item" href="{% url 'ev3' %}">EV3 </a>
								<a class="dropdown-item" href="{% url 'electronics' %}">Electronics </a>
								<a class="dropdown-item" href="{% url 'arduino' %}">Arduino </a>
								
								<a class="dropdown-item" href="{% url 'pi' %}">Raspberry Pi</a>
							</div>
						</li>
						
						<li class="nav-item"><a class="nav-link" href="{% url 'gallery' %}">GALLERY</a></li>
						<li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
                        <li><a class="hover-btn-new log orange" href="{% url 'bookdemo' %}" ><span>Book  Free Demo</span></a></li>
						
                    </ul>

					<ul class="nav navbar-nav navbar-right mx-2">
                        <li><a class="hover-btn-new log orange" href="{% url 'studentlogin' %}"><span>Login</span></a></li>
                    </ul>
				</div>
			</div>
		</nav>
	</header>
    {% block body %} {% endblock %}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>About US</h3>
                        </div>
                        <p> Indian Academy Of Robotics has a team of highly enthusiastic individuals working to redefine teaching. We believe “Knowledge alone is not enough: they must learn how to use their knowledge creatively” and therefore brings to you the traditional kindergarten approach to learning.</p>
                        <div class="footer-right">
							<ul class="footer-links-soi">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram"></i></a></li>
								<li><a href="https://wa.me/9911266069"><i class="fa fa-whatsapp"></i></a></li>
								<li><a href="tel:7976244487"><i class="fa fa-phone"></i></a></li>
								
							</ul><!-- end links -->
						</div>
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Information Link</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="{% url 'index' %}">Home</a></li>
							<li><a href="{% url 'about' %}">About</a></li>
							<li><a href="{% url 'contact' %}">Contact</a></li>
							<li><a href="{% url 'gallery' %}">Gallery</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contact Details</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="mailto:#">rkrgutam@gmailcom</a></li>
                            <li><a href="#">www.indianacacdemyofrobotics.com</a></li>
                            <li>144/3, Gyan khand-4, Near Mangal bazaar Chowk, Indirapuram, Ghaziabad, Uttar Pradesh 201012</li>
                            <li>+91 7428982245</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">IAR</a> Design By : <a href="">indianacacdemyofrobotics</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->
    <!-- ALL JS FILES -->
    <script src="/static/js/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/static/js/custom.js"></script>
	<script src="/static/js/timeline.min.js"></script>
	<script>
		timeline(document.querySelectorAll('.timeline'), {
			forceVerticalMode: 700,
			mode: 'horizontal',
			verticalStartPosition: 'left',
			visibleItems: 4
		});
	</script>
    </body>
</html>