{% extends 'website/navbar.html' %}
{% block title %} NXT{% endblock %}

{% block body %} 


  
  <div class="container">
    <div class="card-group">
        <div class="col-md-4">
          <img class="card-img-top" src="/static/images/nxt.png" alt="Card image cap">
          <div class="card-body">
            
          </div>
        </div>
        
        <div class="col-md-8">
          
          <div class="card-body">
            <h1 class="card-title"><strong>NXT </strong></h1>
            <p class="card-text">Lego Mindstorms NXT is a programmable robotics kit released by Lego in late July 2006.[1] It replaced the first-generation Lego Mindstorms kit, which was called the Robotics Invention System. The base kit ships in two versions: the Retail Version (set #8527)[2] and the Education Base Set (set #9797).[3] It comes with the NXT-G programming software, or optionally LabVIEW for Lego Mindstorms.[4] A variety of unofficial languages exist, such as NXC, NBC, leJOS NXJ, and RobotC.</p>
            
          </div>
        </div>
      </div>
  </div>
  
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div class="tab-pane active fade show" id="tab1">
                    <div class="row text-center">
                        <div class="col-md-2">
                            
                        </div>
                        <div class="col-md-4">
                            <div class="pricing-table pricing-table-highlighted">
                                <div class="pricing-table-header grd1">
                                    <h2>NXT</h2>
                                    <h3>Basic</h3>
                                </div>
                                <div class="pricing-table-space"></div>
                                <div class="pricing-table-features">
                                    <p><i class="fa fa-graduation-cap"></i> <strong>24</strong> Sessions</p>
                                    <p><i class="fa fa-calendar-o"></i> <strong>3 Months</strong> Duration</p>
                                    <p><i class="fa fa-database"></i> <strong>24</strong> Projects</p>
                                    <p><i class="fa fa-link"></i> <strong>1 year</strong> Validity</p>
                                    <p><i class="fa fa-life-ring"></i> <strong>1 Hour</strong> Class Duration</p>
                                </div>
                                <div class="pricing-table-sign-up">
                                    <a href="{% url 'bookdemo' %}" class="hover-btn-new orange"><span>Book Demo</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="pricing-table pricing-table-highlighted">
                                <div class="pricing-table-header grd1">
                                    <h2>NXT</h2>
                                    <h3>Advance</h3>
                                </div>
                                <div class="pricing-table-space"></div>
                                <div class="pricing-table-features">
                                    <p><i class="fa fa-graduation-cap"></i> <strong>24</strong> Sessions</p>
                                    <p><i class="fa fa-calendar-o"></i> <strong>3 Months</strong> Duration</p>
                                    <p><i class="fa fa-database"></i> <strong>24</strong> Projects</p>
                                    <p><i class="fa fa-link"></i> <strong>1 year</strong> Validity</p>
                                    <p><i class="fa fa-clock-o"></i> <strong>1 Hour</strong> Class Duration</p>
                                </div>
                                <div class="pricing-table-sign-up">
                                    <a href="{% url 'bookdemo' %}" class="hover-btn-new orange"><span>Book Demo</span></a>
                                </div>
                            </div>
                        </div>
                        

                        

                        
                    </div><!-- end row -->
                </div><!-- end pane -->
            </div><!-- end content -->
        </div><!-- end col -->
    </div><!-- end row -->
</div><!-- end container -->
</div><!-- end section -->

</div>
   

{% endblock %}